body {
    background-image: url(bg.png);
    font-family: arial;
    text-align: center;
    color:black;
}
header {
    background-color: yellow;
    font-family: arial;
    text-align: center;
}
.profil {
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}
section {
    background-color:red;
    font-family: arial;
    font-size: 20px;
    color: white;
}
